.movies-card-list {
  display: flex;
  flex-direction: column;
  padding: 80px 70px 35px 70px;
  grid-area: movies;
}

.movies-card-list__movies-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 32px 28px;
}

.movies-card-list__button-container {
  height: 166px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.movies-card-list__more-button {
  width: 320px;
  height: 36px;
  margin-bottom: 50px;
  background: none;
  border: 1px solid #424242;
  border-radius: 5px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.2s;
  color: #ffffff;
}

.movies-card-list__more-button:hover {
  opacity: 60%;
}

.movies-card-list__error-message {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: #ee3465;
  text-align: center;
  margin: 0;
  grid-area: error;
}

@media (max-width: 768px) {
  .movies-card-list {
    padding: 80px 30px 35px 30px;
  }

  .movies-card-list__movies-container {
    gap: 36px 30px;
  }

  .movies-card-list__error-message {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 414px) {
  .movies-card-list {
    padding: 50px 10px 30px 10px;
  }

  .movies-card-list__movies-container {
    gap: 20px;
  }

  .movies-card-list__more-button {
    width: 240px;
  }
}
