.movies {
  min-height: 926px;
  display: grid;
  grid-template:
    "header" 72px
    "search" min-content
    "movies" min-content
    "footer" 172px / 100%;
  min-height: 100vh;
}

@media (max-width: 414px) {
  .movies {
    grid-template:
      "header" 72px
      "search" min-content
      "movies" min-content
      "footer" 272px / 100%;
    min-height: 1316px;
  }
}
