.text-input {
  height: 90px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-input__text {
  font-size: 10px;
  line-height: 12px;
}

.text-input__name {
  color: #8b8b8b;
}

.text-input__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #202020;
  border: none;
  border-bottom: 1px solid #424242;
  padding: 0;
  padding-bottom: 10px;
}

.text-input__error {
  color: #ee3465;
  overflow: hidden;
  text-overflow: ellipsis;
}
