.search-form {
  border-bottom: 1px solid #424242;
  padding: 70px 0 69px 0;
  margin: 0 70px 0 70px;
  display: flex;
  justify-content: center;
  grid-area: search;
}

.search-form__container {
  width: 100%;
  background-color: #2f2f2f;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  display: grid;
  grid-template: "search button" auto / 1fr min-content;
  column-gap: 30px;
  align-items: center;
  padding: 19px;
  padding-right: 0;
}

.search-form__label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-form__icon {
  width: 34px;
  height: 34px;
  background-image: url("../../images/search-icon.svg");
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
}

.search-form__text {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}

.search-form__input {
  width: 100%;
  background: none;
  border: none;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  margin-left: 16px;
  grid-area: search;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.search-form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: #2f2f2f;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  grid-area: checkbox;
  padding: 0 30px 0 25px;
}

.search-form__button {
  width: 34px;
  height: 34px;
  box-sizing: content-box;
  background: none;
  background-image: url("../../images/find-button.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  padding: 0;
  padding-right: 30px;
  border-right: 1px solid #424242;
  cursor: pointer;
  grid-area: button;
}

@media (max-width: 768px) {
  .search-form {
    padding: 80px 0 110px 0;
    margin: 0 30px 0 30px;
  }

  .search-form__button {
    padding-right: 19px;
  }

  .search-form__checkbox {
    padding: 0 20px;
  }
}

@media (max-width: 515px) {
  .search-form {
    padding: 80px 0 0 0;
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
  }

  .search-form__container {
    border-radius: 9px;
    padding: 19px;
  }

  .search-form__button {
    border: none;
    padding: 0;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    margin: 0;
  }

  .search-form__checkbox {
    background-color: transparent;
    padding: 45px 0;
  }

  .search-form__text {
    font-size: 11px;
    line-height: 18px;
  }

  .search-form__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
}
