.about-project {
  padding: 0 70px;
  display: grid;
  grid-template-rows: 50px repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr);
  gap: 70px 40px;
  align-content: center;
  grid-area: about-project;
}

.about-project__section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.about-project__text {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin: 0;
}

.about-project__text_color_grey {
  color: #8b8b8b;
}

.about-project__heading {
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #dadada;
  grid-column: span 2;
}

.about-project__subheading {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  margin-bottom: 26px;
}

.about-project__table {
  grid-column: span 2;
  margin-top: 40px;
}

.table {
  display: inline-block;
  width: 100%;
}

.table__row {
  display: flex;
  align-items: center;
}

.table__data {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  text-align: center;
  flex-grow: 5;
}

.table__data:first-of-type {
  flex-grow: 1;
}

.table__data_bottom {
  margin-top: 14px;
}

.table__data_color_green {
  color: #000000;
  background-color: #3ddc84;
  padding: 9px 0;
  font-weight: 400;
}

.table__data_color_grey {
  color: #ffffff;
  background-color: #303030;
  padding: 9px 0;
  font-weight: 400;
}

@media (max-width: 768px) {
  .about-project {
    padding: 0 50px;
    gap: 70px 30px;
  }

  .about-project__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__heading {
    font-size: 22px;
    line-height: 27px;
  }

  .about-project__subheading {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-project__table {
    margin-top: 23px;
  }

  .table__data {
    flex-grow: 6;
  }
}

@media (max-width: 414px) {
  .about-project {
    padding: 0 18px;
    gap: 60px;
  }

  .about-project__section {
    grid-column: span 2;
  }

  .about-project__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__subheading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .about-project__table {
    margin: 0;
  }

  .table__data {
    font-size: 11px;
    line-height: 13px;
    flex-grow: 3;
  }

  .table__data_color_green {
    padding: 11px 0;
  }

  .table__data_color_grey {
    padding: 11px 0;
  }

  .table__data_bottom {
    margin-top: 10px;
  }
}
