.login {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 266px 1fr;
  grid-template-columns: 396px;
  justify-content: center;
  align-items: center;
}

.login__text {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 0;
}

.login__text_color_grey {
  color: #8b8b8b;
}

.login__heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.login__submit-button {
  width: 100%;
  height: 45px;
  font-weight: 500;
  background-color: #4285f4;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit-button:hover {
  opacity: 60%;
}

.login__link {
  text-decoration: none;
  color: #4285f4;
  transition: 0.2s;
}

.login__link:hover {
  opacity: 60%;
}

.login__question {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.login__top {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: 30px;
}

.login__form {
  align-self: flex-start;
}

.login__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px) {
  .login__bottom {
    align-self: flex-start;
    margin-top: 69px;
  }
}

@media (max-width: 450px) {
  .login {
    grid-template-columns: 260px;
  }

  .login__text {
    font-size: 12px;
    line-height: 15px;
  }

  .login__heading {
    font-size: 24px;
    line-height: 29px;
    margin: 50px 0;
  }

  .login__top {
    align-items: center;
    align-self: center;
  }

  .login__bottom {
    align-self: flex-end;
    margin-bottom: 30px;
  }
}
