.about-me {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 66px;
  grid-area: about-me;
}

.about-me__content {
  display: grid;
  grid-template-rows: 1fr 300px;
  gap: 100px;
  align-content: center;
}

.about-me__heading {
  display: inline-block;
  padding-bottom: 28px;
  border-bottom: 1px solid #dadada;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 800px) {
  .about-me {
    padding: 0 50px;
  }
}

@media (max-width: 585px) {
  .about-me {
    padding: 0 14px;
    gap: 50px;
    align-items: center;
  }

  .about-me__heading {
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    min-width: 100%;
  }

  .about-me__content {
    width: 292px;
    display: flex;
    flex-direction: column;
    gap: 69px;
  }
}
